/* ==========================================================================
   Sea theme skin
   ========================================================================== */


/* Colors */

$base-color: #41506b !default;
$text-color: #BBFFFF !default;
$accent-color: #35bcbf !default;
$background-color: #00868B !default;
$code-background-color: #fff !default;
$border-color: #BBFFFF !default;
$overlay-color: #fff !default;
$serif: DFKai-SB,
Kai,
Kaiti SC,
KaiTi,
BiauKai,
\\6977\4F53,
\\6977\4F53_GB2312,
Songti SC,
Georgia,
Times,
serif !default;
$sans-serif: "Helvetica Neue",
YouYuan,
\\5E7C\5706,
幼圆,
"Segoe UI",
-apple-system,
BlinkMacSystemFont,
"Roboto",
"Segoe UI",
"Helvetica Neue",
"Lucida Grande",
Arial,
sans-serif !default;